@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center" style="background-color: #0083c5; height: 100vh;">
            <div class="text-white text-center">
                <img src="~/ruta/a/tu/imagen.jpg" alt="Descripción de la imagen" class="img-fluid mb-3" style="max-width: 80%;" />
                <h2>Crea una nueva cuenta</h2>
                <p>Completa el formulario a continuación para registrarte.</p>
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="p-4 border rounded shadow-lg" style="width: 400px;">
                    <h2 class="text-center">Registrar</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Contraseña" />
                        <label asp-for="Input.Password">Contraseña</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirmar contraseña" />
                        <label asp-for="Input.ConfirmPassword">Confirmar contraseña</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
