@page
@model RegisterModel

@{
    ViewData["Title"] = "Registrar";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center" style="background-color: #09184D; height: 70vh;">
            <div class="text-white text-center">
                <img src="~/media/banco.png" alt="Descripción de la imagen" class="img-fluid mb-3" style="max-width: 95%;" />
                <h2>Crea una nueva cuenta</h2>
                <p>Completa el formulario a continuación para registrarte.</p>
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="p-4 border rounded shadow-lg" style="width: 400px; background-color: #EDF2FA;">
                    <h2 class="text-center text-dark">Registrar</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-group mb-3">
                        <label asp-for="Input.Email" class="text-dark">Email</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Input.Password" class="text-dark">Contraseña</label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Contraseña" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Input.ConfirmPassword" class="text-dark">Confirmar contraseña</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirmar contraseña" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button id="registerSubmit" type="submit" class="w-100 btn" style="background-color: #7B5BF2; color: #EDF2FA;">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    body {
        background-color: #EDF2FA; /* Fondo */
    }

    .btn {
        transition: background-color 0.3s;
    }

        .btn:hover {
            background-color: #6F4B8D; /* Color al pasar el mouse */
        }

    .text-danger {
        color: #d1b68d; /* Color de los mensajes de error */
    }
</style>

